.company-legal-information-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

.setinputs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns with equal width */
    gap: 0.625rem; /* Space between grid items */
    width: calc(100% - 2rem);
    max-width: 38.75rem; /* Max width to maintain original size on larger screens */
    padding: 0.75rem;
    background-color: rgba(166, 219, 158, 0.5);
    border-radius: 1.25rem;
}

.setinputs-set {
    background-color: white;
    width: calc(100% - 1.25rem);
    display: block;
    border-radius: 1.25rem;
    padding: 0.625rem;
    padding-bottom: 0;

    p {
        margin-top: 5px;
    }
}


.setinputs-add-button {
    background: none;
    font-size: 1.75rem;
    margin: 1rem;
    margin-top: 1.625rem;
    font-weight: 800;
    color: #166739;
}

.setinputs-add-button:hover {
    color: grey;
    cursor: pointer;
    transform: scale(120%);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.setinputs-select select{
    width: calc(100%);
    height: 1.75rem;
    line-height: 1.5625rem;
    font-size: 0.9375rem;
    margin: 0;
    margin-bottom: 0.625rem;
    padding-left: 0.625rem;
    /* padding-right: 3.125rem; */
    color: rgb(35, 105, 74);
    
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* For Webkit browsers */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M0 0l2 2 2-2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.625rem top 0.625rem; /* Adjust vertical position */
    background-size: 0.75rem;
}

.setinputs-textarea {
    width: calc(100% - 1.25rem);
    height: 1.5625rem;
    text-align: left;
    line-height: 1.5625rem;
    font-size: 0.875rem;
    margin: 0;
    margin-bottom: 0.625rem;
    padding: 0;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.setinputs-textarea::placeholder {
    text-align: left;
}

.setinputs-select {
    width: calc(100%);
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.9375rem;
    margin: 0;
    margin-bottom: 1.375rem;
    padding: 0;
    /* padding-right: 2.5rem; */
}

.setinputs-remove-button {
    background: none;
    float: right;
    border: none;
    font-weight: bold;
    color: #23694A;
    margin-bottom: 0.3125rem;
}

.setinputs-remove-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.suggestions-list li {
    padding: 0.625rem;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color:rgb(35, 105, 74);
}

@media (max-width: 1023px) {
    .setinputs-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 columns with equal width */
        width: 19rem;
        background-color: rgba(166, 219, 158, 0.5);
        border-radius: 1.25rem;
    }

    .setinputs-set {
        width: 17.75rem;
    }
    
    .setinputs-select select {
        width: 17.75rem;
    }
  }