.company-legal-information-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.bankinputs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 10px; /* Space between grid items */
    width: 700px;
    padding: 10px;
    background-color: #F1FFF0;
    border-radius: 20px;
}

.bankinputs-set {
    background-color: #9D9D9D;
    width: 200px;
    display: block;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 0;
}

.bankinputs-add-button {
    width: 220px;
    display: block;
    border-radius: 20px;
    border: none;
    background-color: #9D9D9D;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.bankinputs-add-button:hover {
    background-color: #166739;
    cursor: pointer;
}

.bankinputs-drop-button {
    width: 200px;
}

.bankinputs-textarea {
    width: 180px;
}

.bankinputs-textarea, 
.bankinputs-drop-button {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}