.company-legal-information-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

.bankinputs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 0.625rem; /* Space between grid items */
    width: 43.75rem;
    padding: 0.625rem;
    background-color: rgba(166, 219, 158, 0.5);
    border-radius: 1.25rem;
}

.bankinputs-set {
    background-color: white;
    width: 12.5rem;
    display: block;
    border-radius: 1.25rem;
    padding: 0.625rem;
    padding-bottom: 0;
}


.bankinputs-add-button {
    width: 13.75rem;
    display: block;
    border-radius: 1.25rem;
    border: none;
    background-color: white;
    font-size: 2.5rem;
    font-weight: 800;
    color: #A6DB9E;
}

.bankinputs-add-button:hover {
    background-color: #166739;
    cursor: pointer;
}

.bankinputs-select select{
    width: 12.5rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    font-size: 0.9375rem;
    padding-left: 0.625rem;
    padding-right: 3.125rem;
    
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* For Webkit browsers */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M0 0l2 2 2-2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.625rem top 0.625rem; /* Adjust vertical position */
    background-size: 0.75rem;
}

.bankinputs-textarea {
    width: 11.25rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    font-size: 0.9375rem;
    margin-bottom: 0.625rem;
    padding: 0;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.bankinputs-select {
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.9375rem;
    margin: 0;
    margin-bottom: 0.9375rem;
    padding: 0;
    padding-right: 2.5rem;
}

.bankinputs-remove-button {
    background: none;
    float: right;
    border: none;
    font-weight: bold;
    color: #23694A;
    margin-bottom: 0.3125rem;
}

.bankinputs-remove-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.suggestions-list li {
    padding: 0.625rem;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}
