.error-alert-panel {
    position: absolute;
    top: 10px;
    left: calc(50% + 15%);
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 125, 125, 0.5);
    z-index: 1000; /* Ensure it's on top of other elements */
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease-in-out; /* Smooth transition */
}

.error-alert-panel.show {
    opacity: 1; /* Show panel */
}

.error-alert-panel.hide {
    opacity: 0; /* Hide panel */
}