.contact-us-container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    width: 32.5rem;
}

.message-container {
    height: 12.5rem;
    overflow-y: scroll;
    border-radius: 1rem;
}