
.form-heading {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
}

.form-textarea-container-full {
  width: calc(100%);
}

.form-textarea-container-half {
    width: calc(50%);
}

.form-textarea-container-third {
  width: calc(33%); /* One-third width */

}

.form-textarea { /*input area*/
  width: calc(100% - 1rem);
  height: 2.5rem;
  margin: 0.5rem;
  line-height: 2.5rem;
  border-radius: 3.125rem;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  text-align: center;

  background: rgba(166, 219, 158, 0.5);
  color: rgb(35, 105, 74);
  border: none;
  resize: none;

  white-space: nowrap;  /* Prevent text from wrapping to the next line */
  overflow-x: auto;     /* Allow horizontal scrolling */
}

.form-textarea::placeholder {
  color: rgba(35, 105, 74, 0.5);
  text-align: center;
}

.form-option-1-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  margin-top: 0.625rem;
  width: calc(100%);
}

.form-option-2-container {
  margin-top: 10px;
  text-align: center;
}

.form-checkbox {
  width: 1.125rem;
  height: 1.125rem;
  color: #F1FFF0;
  border: none;
  border-radius: 0.3125rem;
}

.form-label {
  margin-left: 0.3125rem;
  font-size: 0.9375rem;
  font-weight: bold;
}

.form-link {
  font-size: 0.9375rem;
  font-weight: bold;
  color: #166739;
  margin-left: auto; /* Pushes the forgot password text to the right */
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.form-submit-button {
  width: calc(100%);
  margin-top: 1.25rem;
  border-radius: 3.125rem;
  border: none;
  height: 3.125rem;
  background: rgba(35, 105, 74, 0.8);
  color: #F1FFF0;
  font-weight: bold;
  font-size: 1.125rem;
}

.form-submit-button:hover {
  cursor: pointer;
  transform: scale(102%);
}

.form-stepper-button {
  width: calc(25%);
  margin-top: 1.25rem;
  border-radius: 3.125rem;
  border: none;
  height: 3rem;
  background: rgba(35, 105, 74, 0.8);
  color: rgb(241, 255, 240);
  font-weight: bold;
  font-size: 1rem;
}

.form-stepper-button:hover {
  cursor: pointer;
  transform: scale(102%);
}

.form-select {
  position: relative;
  display: inline-block;
}

/* Hide the default arrow */
.form-select select {
  margin: 0.5rem;
  border-radius: 3.125rem;
  height: 2.75rem;
  width: 28.125rem;
  padding-left: 1.25rem;
  padding-right: 2.5rem;
  text-align: left;
  background: rgba(166, 219, 158, 0.5);
  border: none;
  font-weight: bold;
  font-size: 1.125rem;

  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* For Webkit browsers */
  -moz-appearance: none; /* For Firefox */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M0 0l2 2 2-2z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.9375rem top 1.25rem; /* Adjust vertical position */
  background-size: 0.75rem;
}

.form-flex-container {
  display: flex;
  justify-content:space-around;
}


.password-container {
  position: relative;
  width: 100%;
}

.password-textarea {
  width: calc(100% - 1rem);
}

.form-error {
  color: #71CCA8;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
}

.show-password-button {
  position: absolute;
  top: 50%;
  right: 1.5rem; /* Adjust as needed */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.show-password-button img {
  width: 1.5625rem; /* Adjust size as needed */
  height: auto; /* Adjust size as needed */
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
}
/* Small devices (phones) */
@media (max-width: 768px) {
  .form-heading {
    font-size: 1.625rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form-label {
    font-size: 0.75rem;
  }

  .form-link {
    font-size: 0.75rem;
  }

  .form-textarea { /*input area*/
    font-size: 1rem;
  }

  .form-select select{
    width: 20rem;
    font-size: 1rem;
  }

  .form-textarea-half {
    width: calc(45% - 2rem); /* Half width */
  }
  
  .form-textarea-third {
    width: calc(30% - 2.25rem); /* One-third width */
  }
}
