.logout-button {
    background: #166739;
    color: white;
    font-weight: bold;
    height: 2rem;
    width: 7.5rem;
    border-radius: 1.5rem;
    border: none;
    margin: 0.5rem;
    float: right;
    font-size: 0.875rem;
}

.logout-button:hover, .logout-button:focus {
    transform: scale(102%);
    cursor: pointer;
}

.dashboard-container {
    display: flex;
    width: 100%;
}

.main-page-container {
    width: calc(70%);
}

.portfolio-container {
    background: #23694A;
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 21px;
    color: white;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    
    h4 {
        margin-top: 0;
    }
}


.etf-item-container {
    background: rgb(241, 255, 240, 0.4);
    padding: 0.75rem;
    border-radius: 18px;
    width: 10rem;
    margin: 0.5rem;

    text-align: center;

    h2 {
        color: #F1FFF0;
        margin: 0;
    }

    p {
        color: #23694A;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.risk-bank-container {
    background: #F1FFF0;
    margin: 3rem;
    margin-top: 0;
    padding: 1.5rem;
    border-radius: 21px;
    width: calc(50% - 7rem);
    color: white;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    
    h4 {
        color: #23694A;
        margin-top: 0;
    }
}

.risk-container {
    margin-left: 3rem;
    margin-right: 1rem;
}

.bank-container {
    margin-left: 1rem;
    margin-right: 3rem;
}

.bank-item-container {
    background-color: rgba(166, 219, 158, 0.8);
    height: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}