h1 {
    text-align: center;
    margin-top: 30px;
}

table {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px; /* Add space between cells */
    background-color: #F1FFF0;
    border-radius: 20px;
    border: none;
}

th, td {
    border-radius: 20px;
    text-align: center;
}

.section-divider {
    background-color: #23694A;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
}

.title-cell {
    background-color: #71CCA8;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.input-cell {
    border-radius: 20px;
    border: none;
    background-color: rgba(113, 204, 168, 0.5);
    width: 5vw;
    height: 20px;
    padding: 10px;
    margin: 0;
}

.output-cell {
    border-radius: 20px;
    border: none;
    width: 5vw;
    height: 20px;
    padding: 10px;
    background-color: #23694A;
    color: white;
    font-weight: bold;
    padding: 10px;
}