.page-2-container {
    margin-top: 9.375rem;
}

.duo-factor-authentication-form {
    width: 28.125rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-top: 0;
}