.two-factor-auth-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

.security-questions-select select{
    width: calc(100% + 1.875rem) ;
    text-align: center;
    height: 2.75rem;
    line-height: 1.5625rem;
    font-size: 0.9375rem;
    margin-top: 0.9375rem;
    margin-bottom: 0;
    padding-left: 0.625rem;
    padding-right: 3.125rem;
    color: rgb(35, 105, 74);
    
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* For Webkit browsers */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M0 0l2 2 2-2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.625rem top 1rem; /* Adjust vertical position */
    background-size: 0.75rem;
}


.security-questions-select {
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.9375rem;
    margin: 0;
    margin-top: 0.9375rem;
    padding: 0;
    padding-right: 2.5rem;
}

.form-textarea-container-full {
    margin-top: 0.9375rem;
}

/* Small devices (phones) */
@media (max-width: 768px) {
    .security-questions-select select{
        overflow-x: scroll;
    }
    
    .security-questions-select {
        margin-bottom: 0;
    }
  }