.page-2-container {
    margin-top: 150px;
}

.duo-factor-authentication-form {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.stepper-container {
    display: flex;
    justify-content: space-between; /* Pushes buttons to the edges */
}