@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.log-in-form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5rem;
    width: 32.5rem;
}

.log-in-form {
    opacity: 0; /* Start fully transparent */
    transition: opacity 2s ease-in; /* 2 seconds fade-in with ease-in timing */
    margin-top: 1.5rem;
}

.log-in-form.fade-in {
    opacity: 1; /* Fully opaque */
}

/* Small devices (phones) */
@media (max-width: 600px) {
    .log-in-form-container {
        width: 20rem;
    }
}