@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.log-in-form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 205px;
    width: 550px;
}

.log-in-form {
    opacity: 0; /* Start fully transparent */
    transition: opacity 2s ease-in; /* 2 seconds fade-in with ease-in timing */
    margin-top: 25px;
}

.log-in-form.fade-in {
    opacity: 1; /* Fully opaque */
}

.password-container {
    position: relative;
    width: 100%;
  }

.password-textarea {
    width: calc(100%-40px);
}

.show-password-button {
    position: absolute;
    top: 45%;
    right: 15px; /* Adjust as needed */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.show-password-button img {
    width: 25px; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
}