.create-account-sidebar-container {
    position: fixed;
    width: calc(35%);
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 0 3.125rem 3.125rem 0;
    background-color: rgba(113, 204, 168, 0.3);
}

.create-account-sidebar-stepper-container {
    display: block;
    width: 75%;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}

.create-account-sidebar-stepper {
    margin-bottom: 2.5rem;
    height: 3.75rem;
    line-height: 3.75rem;
    display: flex;
    align-items: center; /* Aligns the circle and text vertically */
}

.create-account-sidebar-stepper:hover {
    cursor: pointer;
}

.create-account-sidebar-stepper:hover .create-account-sidebar-stepper-circle {
    scale: calc(102%);
    background-color: rgba(35, 105, 74, 1); /* Color for active or passed circles */
}

.create-account-sidebar-stepper:hover .create-account-sidebar-stepper-label {
    scale: calc(102%);
    color: rgba(35, 105, 74, 1); /* Color for active or passed circles */
}

.create-account-sidebar-stepper-circle {
    width: 3rem;  /* Circle width */
    height: 3rem; /* Circle height */
    background-color: #61b090; 
    border-radius: 50%; /* Makes the element circular */
}

.active-circle {
    background-color: rgba(35, 105, 74, 0.8); /* Color for active or passed circles */
}

.create-account-sidebar-stepper-label {
    font-weight: bold;
    padding-left: 0.9375rem; /* Adjust space between circle and label */
    font-size: 0.95rem;
    color: #61b090; 
}

.active-label {
    color: rgba(35, 105, 74, 0.8); /* Color for active or passed circles */
}

/* Container for the small vertical circles */
.small-circles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.625rem; /* Align with large circles */
    height: 3.125rem; /* Adjust the spacing between large circles */
    justify-content: space-between;
}

/* Style for the small circles */
.small-circle {
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background-color: grey; /* Small dot color */
}

/* Small devices (phones) */
@media (max-width: 768px) {
    .create-account-sidebar-container {
        display: none;
    }

    .logo-display {
        top: auto;
        translate: calc(-55%);
        margin-left: 50vw;
        bottom: 1rem; /* Move to bottom on mobile */
        width: 10rem;     /* Adjust width for smaller screens */
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 2.5rem;
      }
}