@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.loginform-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 205px;
    width: 550px;
}

h1 {
    font-size: 35px;
    color: #212121;
    text-align: center;
}

.loginform {
    margin-top: 25px;

    textarea { /*input area*/
        width: calc(100% - 40px);
        height: 50px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 50px;
        border-radius: 50px;

        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: bold;
        justify-content: center;

        background: #D9D9D9;
        border: none;
        resize: none;
    }

    .options-container {
        display: flex;
        align-items: center; /* Aligns items vertically in the center */
        margin-top: 10px;
        width: calc(100%);
    }
    
    .rememberUser-checkbox {
        width: 30px;
        height: 30px;
        color: #D9D9D9;
        border: none;
        border-radius: 5px;
    }
    
    .rememberUser-span {
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
        color: #666666;
    }

    .link {
        font-size: 18px;
        font-weight: bold;
        color: #666666;
        margin-left: auto; /* Pushes the forgot password text to the right */
        cursor: pointer;
        text-decoration: underline;
    }
    .link:hover {
        color: #0056b3;
    }

    .submit-button {
        width: calc(100%);
        margin-top: 20px;
        border-radius: 50px;
        border: none;
        height: 50px;
        background: #666666;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    .submit-button:hover {
        cursor: pointer;
        transform: scale(102%);
    }

    .newmember-container {
        margin-top: 15px;
        text-align: center;
    }
}