body {
  font-family: "Inter", sans-serif;
}

.top-left-logo-display {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: auto;
}

.form-heading {
  font-size: 35px;
  color: black;
  text-align: center;
  font-weight: 800;
}

.form-textarea { /*input area*/
  width: calc(100% - 40px);
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 40px;
  border-radius: 50px;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;

  background: rgba(166, 219, 158, 0.5);
  border: none;
  resize: none;
}

.form-textarea-full {
  width: calc(100% - 40px); /* Full width */
}

.form-textarea-half {
  width: calc(45% - 10px); /* Half width */
}

.form-textarea-third {
  width: calc(30% - 20px); /* One-third width */
}

.form-option-1-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  margin-top: 10px;
  width: calc(100%);
}

.form-option-2-container {
  margin-top: 15px;
  text-align: center;
}

.form-checkbox {
  width: 18px;
  height: 18px;
  color: #F1FFF0;
  border: none;
  border-radius: 5px;
}

.form-label {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #166739;
}

.form-link {
  font-size: 15px;
  font-weight: bold;
  color: #166739;
  margin-left: auto; /* Pushes the forgot password text to the right */
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.form-submit-button {
  width: calc(100%);
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  height: 50px;
  background: #166739;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.form-submit-button:hover {
  cursor: pointer;
  transform: scale(102%);
}

.form-stepper-button {
  width: calc(25%);
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  height: 50px;
  background: #166739;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.form-stepper-button:hover {
  cursor: pointer;
  transform: scale(102%);
}

.form-select {
  position: relative;
  display: inline-block;
}

/* Hide the default arrow */
.form-select select {
  margin-bottom: 20px;
  border-radius: 50px;
  height: 44px;
  width: 450px;
  padding-left: 20px;
  padding-right: 40px;
  text-align: left;
  background: rgba(166, 219, 158, 0.5);
  border: none;
  font-weight: bold;
  font-size: 18px;

  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* For Webkit browsers */
  -moz-appearance: none; /* For Firefox */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M0 0l2 2 2-2z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px top 20px; /* Adjust vertical position */
  background-size: 12px;
}

.form-flex-container {
  display: flex;
  justify-content: space-between;
}