.page-container {
    margin-left: 35%; /* Leaves space for the sidebar */
}

.create-account-form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 65vw; /* 70% of the viewport width */
    max-width: 34.375rem; /* Max width to maintain original size on larger screens */
    position: relative;
    left: 17.5vw; /* Move the container to the right to center it in 70% of the screen */
}

.stepper-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 34.375rem; /* Max width to maintain original size on larger screens */
    position: relative;
}

.stepper-button-container {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between; /* Pushes buttons to the edges */
}

/* Small devices (phones and tablets) */
@media (max-width: 768px) {
    .page-container {
        margin-left: 0;
        margin-bottom: 0;
    }

    .create-account-form-container {
        width: 20rem;
        left: 0;
    }

    .stepper-container {
        width: 20rem;

        button {
            width: 5rem;
            font-size: 1rem;
        }
    }
  }