.page-container {
    margin-left: 30%; /* Leaves space for the sidebar */
}

.page-1-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5rem;
    width: 34.375rem;
}

.page-2-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5rem;
    width: 34.375rem;
}

.page-3-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem;
    width: 43.75rem;
}

.page-4-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem;
    width: 43.75rem;
}

.stepper-container {
    width: 34.375rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between; /* Pushes buttons to the edges */
}