.question-container {
    width: 650px;
    border-radius: 20px 20px 0 0;
    background-color:rgba(166, 219, 158, 0.5);
    padding: 20px;
    text-align: center;

    img {
        width: 90%;
        margin-bottom: 10px;
        border-radius: 20px;
    }
}

.question-container-no-footer {
    border-radius: 20px;
    margin-bottom: 15px;
}

.question-label {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.question-answer-button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 350px;
    height: 40px;
    font-size: 15px;
    background-color: rgba(35, 105, 74, 0.8);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.question-answer-button:hover, .question-answer-button.clicked {
    background-color: white;
    color: #166739;
    border: 2px solid #166739;
    cursor: pointer;
}

.question-footer {
    width: 650px;
    padding: 15px 20px 20px 20px;

    background-color: rgba(35, 105, 74, 0.8);
    color: white;
    margin-top: 0;
    vertical-align: middle;
    text-align: center;
}

.question-footer button {
    margin-left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    float: right;
}

.question-footer-middle {
    border-bottom: 1px solid white;
}

.question-footer-last {
    border-radius: 0 0 20px 20px;
    margin-bottom: 15px;
}

.text-input {
    padding: 0 20px 0 20px;
    width: 300px;
    vertical-align: bottom;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 15px;;
    background-color: rgba(35, 105, 74, 0.8);
    color: white;
}